<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartfit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartFit">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Exercises.ExercisesActivity" />
        <activity android:name=".ChooseActivity" />
        <activity android:name=".Exercises.FirstExercise"/>
        <activity android:name=".Exercises.FifteenExercise" />
        <activity android:name=".Exercises.FourteenExercise" />
        <activity android:name=".Exercises.ThirteenExercise" />
        <activity android:name=".Exercises.TwelveExercise" />
        <activity android:name=".Exercises.ElevenExercise" />
        <activity android:name=".Exercises.TenExercise" />
        <activity android:name=".Exercises.NineExercise" />
        <activity android:name=".Exercises.SevenExercise" />
        <activity android:name=".Exercises.SixExercise" />
        <activity android:name=".Exercises.FiveExercise" />
        <activity android:name=".Exercises.FourExercise" />
        <activity android:name=".Exercises.ThirdExercise" />
        <activity android:name=".Exercises.SecondaryExercise" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>